<link href="~/styles/css/board.css" type="text/css" rel="stylesheet" asp-append-version="true"/>
<script type="text/javascript" src="~/scripts/js/typedjson.js"></script>
<script type="text/javascript" src="~/scripts/js/board.js" defer="defer"></script>

<div id="content">
</div>