**/.idea/
**/appsettings.json
**/bin/
**/obj/
**/(L|l)ogs
**/*.log
**/node_modules/
**/Logs/
**/.vs/
**/*.user
**/*.*.DotSettings.user
App/Static/scripts/js/
App/Static/styles/css/
App/Static/styles/scss/material-kit/
App/Configuration/app.*.json
