@{
    ViewBag.Title = "Maria";
}

<!DOCTYPE HTML>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/styles/css/layout.css"/>
</head>
<body>
@RenderBody()
<script type="text/javascript" src="~/scripts/js/jquery/jquery.js"></script>
<script type="text/javascript" src="~/scripts/js/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="~/scripts/js/material-kit/material-kit.js"></script>
<script type="text/javascript" src="~/scripts/js/bundle.js"></script>
</body>
</html>