$header-background-color: #494949;
$background-color: #faf6e9;
$foreground-color: #fffdf6;
$secondary-foreground-color: #494949;

$board-color: #494949;

$task-color: #fffdf6;

$board-header-color: $header-background-color;