@import "imports";

#content {
}

#board {
	color: $foreground-color;
	margin: 0;
	padding: 15px;
	
	.board-row {
		padding: 20px;
		border-radius: 5px;
		min-width: 100%;
		background-color: $board-color;
		margin-bottom: 20px;
		
		.board-row-header {
			width: 100%;
			font-size: 24px;
			
			.row-title {
				
			}
			
			.row-actions {
				text-align: right;
				//margin: 0;
			}
		}
		
		.board-column-content {
			.task-card {
				display: inline-block;
				padding: 15px !important;
				margin: 0 10px 0 0;
				background-color: $task-color;
				max-width: 300px;
				
				.task-card-title, .task-card-code {
					display: inline-block;
					width: 49%;
				}
				
				.task-card-code {
					text-align: right;
				}
				
				.task-card-description {
					text-align: left;
				}
				
				.task-card-content {
					padding: 1px;
				}
			}
		}
	}
}