<div>
    <div class="container-fluid board-header">
        <div class="row justify-content-around align-items-center">
            <div class="col-3">
                <div class="board-name">
                    **Board name**
                </div>
            </div>
            <div class="col-3">
                <div class="board-options">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-sm board-button-add-task">
                            add task
                        </button>
                        <button class="btn btn-sm board-button-settings">
                            settings
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-left: 1%; padding-right: 1%; padding-top: 1%">
        <div class="row board-columns-container">
            
        </div>
    </div>
</div>