<div class="task">
    <div class="task-name card-header" role="tab">
        **Task name**
    </div>
    <div class="task-body card-body text-secondary">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>