<div class="task">
    <div class="task-header card-header" role="tab" style="padding: 10px">
        <div class="task-name">
            **Task name**
        </div>
        <span class="task-code label">
            **Task code**
        </span>
    </div>
    <div class="task-body card-body text-secondary" style="display: none;">
        <h5 class="task-description card-title">Secondary card title</h5>
        <p class="card-text">

        </p>
    </div>
</div>